# This list has been compiled using the following:

# '20 most popular python packages' | medium.com. Link: https://medium.com/@kasperjuunge/20-most-downloaded-python-packages-explained-f5cded2eb70d

# Azure libraries
azure.identity==1.13.0  # Microsoft Azure Identity Library for Python
azure.keyvault.secrets==4.7.0  # Microsoft Azure Key Vault Secrets Client Library for Python

# Commonly Used/CLI libraries
awscliv2==2.2.0
boto3==1.26.70  # AWS SDK for Python
charset-normalizer==2.1.1  # helps with character encoding - used to detect and convert character set encoding
certifi==2020.12.5  #  collection of Root Certificates for validating SSL certificates
cryptography==36.0.2  # designed to expose cryptographic recipes and primitives
idna==2.9  # IDNA refers to Internationalized Domain Names in Applications. This library allows your Python app to work with such domain names
j2cli==0.3.10  # command-line interface to Jinja2 for templating in shell scripts.
pre-commit==3.1.1  # A framework for managing and maintaining multi-language pre-commit hooks.
pytest==7.2.1  # Simple, robust testing with Python
python-dateutil==2.8.2  # provides powerful extensions to the standard datetime module.
python-dotenv==1.0.0  # Read key-value pairs from a .env file and set them as environment variables
pyyaml==6.0  # YAML parser and emitter for Python
requests==2.31.0  # simple HTTP library for Python
s3transfer==0.6.0  # library for managing Amazon S3 transfers
s3fs==0.4.2  # a Pythonic file interface to S3. It allows you to work with S3 as if it were a file system
setuptools==59.6.0  # essential for Python development, Setuptools is a collection of enhancements to the Python distutils for easily building and distributing Python packages
snowflake-connector-python==3.0.4  # Snowflake Connector for Python
snowflake-sqlalchemy==1.5.0  # Snowflake SQLAlchemy Dialect
typing-extensions==4.9.0  # introduces new types for the Python typing system
urllib3==1.26.15  # HTTP client for Python
virtualenv==20.19.0  # Virtual Python Environment builder
virtualenvwrapper==4.8.4  # Set of extensions for virtualenv. These include wrappers for creating/deleting virtual environments - making it easier to work on multiple projects without introducing conflicts in their dependencies.
wget==3.2  # Pure Python download utility
wheel==0.37.1  # a built-package format for Python, making it easier to distribute Python software
yq==3.1.0  # Command-line YAML/XML processor - jq wrapper for YAML/XML documents

# Code Quality libraries
black==23.9.1  # The uncompromising code formatter.
flake8==6.0.0  # The modular source code checker: pep8 pyflakes and co
pylint==2.16.2  # Python code static checker

# Database-Related libraries
pymssql==2.2.7  # DB-API interface to Microsoft SQL Server for Python.
pyodbc==4.0.35  # pyodbc is an open-source Python module that makes accessing ODBC databases simple.
sqlalchemy==1.4.48  # Python SQL toolkit and Object Relational Mapper that gives application developers the full power and flexibility of SQL

# File Parsing libraries
numpy==1.24.2  # fundamental package for scientific computing in Python
openpyxl==3.1.1  # Python library to read/write Excel 2010 xlsx/xlsm files
pandas==1.5.3  # Powerful data structures for data analysis, time series, and statistics
